.row .input-group {
  flex-basis: 48%;
}

@media (max-width: 768px) {
  .row .input-group {
    flex-basis: 50%;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #9e3c18),
    url(../assets/imgBg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 10px;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input-group input[type="radio"] {
  margin-right: 10px;
}

.input-group label {
  display: inline-block;
}
