
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(../assets/imgBg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
    flex: 1;
}

input, textarea{ 
   width: 100%;
   padding: 10px;
   outline: 0;
   border: 1px solid #fff;
   color: #fff;
   background: transparent;
   font-size: 15px; 
}

label{ 
    height: 100%;
    position: absolute;
    left: 10;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.row .input-group{
    flex-basis: 48%;
}

.input-group input[type="radio"] {
    margin-right: 10px; /* Ajusta este valor según lo necesites */
}

.input-group label {
    display: inline-block;
}

.inicio{
    margin-left: 10px;
    margin-top: 0px;
    color: black;
}

.inicio img{
    margin-left: 30px;
}

.menu{
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid grey;
        border-radius: 0.7em;
        padding: 1em;
        overflow: hidden;
        background-color: #fff;
}

.menu .info{
        width: 75%;
}

.menu .info h4{
        color:#fdfdff;
        font-size: 1.2em;
        font-weight: 500;
        margin: 0 0 1em;
        border-bottom: 1px solid #747886;
        padding-bottom: 0.5em;
}

    .menu .info p{
        font-size: 0.8em;
        line-height: 1.2em;
}
    
    .menu img{
        border-radius: 0.8em;
}
    
.menu:nth-child(even) img{
        float: right;
        margin: 0 0 0 1em;
}

.menu:nth-child(even) .info{
        float: left;
}
    
.menu:nth-child(odd) img{
        float: left;
        margin: 0 1em 0 0;
}
    
.menu:nth-child(odd) .info{
        float: right;
}
    
.column {
        flex: 33.33%;
        padding: 5px;
        text-align: center;
}

iframe{
    display: flex;
    margin: 0 auto;
}

.abajo{
    background-color:#3551b5 ;
}

article p{
    margin-left: 20px;
}

.custom-select option {
    background-color: #000a4b; 
  }
    