* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head {
  font-family: sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #3551b5),
    url(../assets/imgBg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 10;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input-group input[type="radio"] {
  margin-right: 10px; /* Ajusta este valor según lo necesites */
}

.input-group label {
  display: inline-block;
}

.inicio {
  text-align: center;
  margin-left: 10px;
  margin-top: 0px;
  color: rgb(154, 224, 203);
  padding-left: 4em;
  padding-right: 4em;
  font-size: large;
  font-family: "Inria Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.inicio img {
  width: 30%;
  border-radius: 0.8em;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h5 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.inicio img {
  margin-left: 30px;
}

.menu {
  margin: 15px;
  border: 1px solid grey;
  border-radius: 0.7em;
  padding: 10px;
  overflow: hidden;
  background-color: #3591b5;
}

.menu .info {
  width: 75%;
  font-size: larger;
  background-color: #516ccc;
  border: solid grey;
  border-radius: 0.8em;
}

.menu .info h4 {
  background-color: cadetblue;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 1em;
  border-bottom: 1px solid #747886;
  padding-left: 10px;
  padding-bottom: 0.3em;
  border-radius: 0.4em;
}

.menu .info p {
  font-size: 0.8em;
  line-height: 1.2em;
  padding-left: 10px;
}

.info p {
  color: rgb(154, 224, 203);
}

.menu img {
  border-radius: 0.8em;
  width: 19%;
}

.menu:nth-child(even) img {
  float: right;
  margin: 0 0 0 1em;
}

.menu:nth-child(even) .info {
  float: left;
}

.menu:nth-child(odd) img {
  float: left;
  margin: 0 1em 0 0;
}

.menu:nth-child(odd) .info {
  float: right;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: center;
}

h2 {
  color: rgb(154, 224, 203);
  margin-left: 10px;
}

iframe {
  display: flex;
  margin: 0 auto;
}

.abajo {
  background-color: #3551b5;
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

article p {
  margin-left: 20px;
  color: rgb(154, 224, 203);
}

.carousel-inner img {
  margin: auto;
}

.custom-select option {
  background-color: #000a4b;
}
